<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bootstrap Site</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>This is home page</h1>
    <h2>Author: {{author}}</h2>
    <h2>Age: {{age}}</h2>

    {% comment %} cnoditional statement {% endcomment %}
     {% if age >= 20 %}
        <h4>Your will get driving license</h4>
    {% elif age >= 10 and age <= 19 %}
        <h4>You will not get driving license</h4>
    {% else %}
        <h4>Your are a child</h4>
    {% endif %}


    {{lst}}
    <h3> {{lst | join:"-"}} </h3>

    {{birthday}}
    <h4>{{birthday | date:"D-M-Y"}}</h4>
    <h4> {{val | length}} </h4>

    <h4>{{'happy codeing. python is fun' | truncatechars:6}} </h4>

    {% comment %} for {% endcomment %}
    {% for i in courses %}
    <h3> {{i.id}} {{i.name}} {{i.fee}} </h3>
    {% endfor %}
  </body>
</html>
